.error-container {
    background-color: #fff9ef;
    padding: 150px 100px 100px 100px;
    display: flex;
}

.error-img {
    background-image: url('../../assets//images//404.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
}

.error {
    width: 70%;
}

.error h1 {
    font-size: 100px;
    font-weight: bolder;
}

.error p {
    font-size: 24px;
    font-weight: bold;
    color: #727171;
}

.error button {
    background-color: #f16126;
    border-radius: 5px;
    padding: 10px 25px;
    margin-top: 20px;
}

.error button a {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

@media (max-width: 1024px) {
    .error-container {
        padding: 150px 50px 50px 50px;
        flex-direction: column;
    }

    .error-img {
        height: 60vh;
        background-size: contain;
        margin-top: 20px;
    }

    .error {
        width: 100%;
    }

    .error h1 {
        font-size: 50px;
    }

    .error p {
        font-size: 18px;
    }

    .error button {
        padding: 8px 20px;
    }

    .error button a {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .error-container {
        padding: 170px 20px 20px 20px;
    }

    .error-img {
        height: 46vh;
        margin-top: 10px;
    }

    .error h1 {
        font-size: 30px;
    }

    .error p {
        font-size: 16px;
    }

    .error button {
        padding: 0px 12px 4px 12px;
    }

    .error button a {
        font-size: 12px;
    }

}