.category-container {
    margin: 100px;
    align-items: center;
}

.category-header h3 {
    color: #f16126;
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.category-header h1 {
    text-align: center;
    font-size: 44px;
    font-weight: bold;
}

.catergories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}


.category-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    height: 250px;
    width: 180px;
    cursor: pointer;
    text-align: center;
}

.category-box:hover {
    margin-top: -15px;
    transition: 0.2s;
    color: #f16126;
}

.category-img {
    text-align: center;
    align-items: center;
    max-width: 100%;
    height: auto;
}

.cs-span {
    color: #7eb688;
}

.ce-span {
    color: #60b8cc;
}

.ba-span {
    color: #c9b865;
}

.dsa-span {
    color: #c496d7;
}

.lm-span {
    color: #d78c5d;
}

.ceg-span {
    color: #e4bb62;
}

.browse-btn {
    background-color: #f16126;
    border-radius: 5px;
    height: 40px;
    width: 215px;
    border: none;
}

.browse-link {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    font-size: 16px;
}

.browse-container {
    text-align: center;
    margin: 40px;
}


@media screen and (max-width: 1024px) {
    .category-container {
        margin: 50px;
    }

    .category-header h1 {
        font-size: 36px;
    }
}

@media screen and (max-width: 768px) {
    .category-container {
        margin: 30px;
    }

    .category-header h1 {
        font-size: 32px;
    }

    .catergories {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .category-box {
        height: 220px;
        width: 150px;
    }
}

@media screen and (max-width: 480px) {
    .category-container {
        margin: 20px;
    }

    .category-header h1 {
        font-size: 28px;
    }

    .catergories {
        grid-template-columns: 1fr;
    }

    .category-box {
        height: 200px;
        width: 100%;
    }
}




