  .course-top-bg-container {
    background-image: url('../../assets/images/top-bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 250px;
  }

  .course-top-bg-container h1 {
    font-size: 40px;
    font-weight: bold;
  }

  .course-top-container {
    display: inline-block;
  }

  .top-course-link {
    color: #727171;
  }

  .filter-container {
    height: 100px;
    background-color: #f16126;
    margin-top: 100px;
    text-align: center;
    justify-content: center;
    line-height: 100px;
  }

  .filter-container select {
    height: 45px;
    border-radius: 5px;
    width: 210px;
    margin: 0 5px;
    padding: 10px;
    font-size: 16px;
  }

  .filter-container span {
    color: #fff;
    font-size: 18px;
    margin-right: 20px;
  }

  .filter-icon {
    color: #fff;
    font-size: 18px;
    margin-right: 5px;
  }

  .filter-box {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }

  .result {
    font-size: 16px;
    color: #727171;
  }

  .result1 {
    font-size: 16px;
    color: #727171;
  }

  .skills {
    background-color: transparent;
    color: #f16126;
    margin-left: 10px;
    font-size: 16px;
  }

  .course-container {
    background-color: #fff9ef;
    padding: 150px 50px;
  }

  .course-header {
    text-align: center;
    margin: 20px;
  }

  .course-header h3 {
    color: #f16126;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .course-header h1 {
    font-size: 44px;
    font-weight: bold;
  }

  .course-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }

  .course-card {
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 30px;
    border: 14px solid #fff;
    width: 100%;
    position: relative;
  }

  .course-card img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }

  .course-card:hover img {
    transform: scale(1.05);
  }

  .course-buy {
    height: 50px;
    padding: 10px;
    width: 50px;
    border-radius: 50%;
    background-color: #f16126;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    font-weight: bold;
  }

  .course-card-content {
    padding: 10px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .course-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
    transition: color 0.3s ease;
  }

  .course-card:hover .course-title {
    color: #f16126;
  }

  .course-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .course-category,
  .course-video {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #000;
  }

  .course-icon {
    color: #f16126;
  }

  .course-video .course-icon,
  .course-category .course-icon,
  .course-avtar .course-icon {
    color: #f16126;
    margin: 0 5px;
  }

  .course-author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #000;
    padding: 10px 0;
    border-top: 0.5px solid #e4e1e1;
  }

  .course-author .course-avtar {
    display: flex;
    align-items: center;
  }

  .course-author img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .course-rating {
    color: #f16126;
  }

  .course-review {
    font-size: 14px;
    color: #000;
  }

  .course-btn {
    color: #fff;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    font-size: 14px;
  }

  .course-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .course-pagination a {
    padding: 12px 16px;
    text-decoration: none;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 10px;
    height: 50px;
    width: 50px;
    font-size: 16px;
  }
  
  .course-pagination a.active {
    background-color: #f16126;
    color: white;
    border-radius: 50%;
  }

  .course-pagination a:hover:not(.active) {
    background-color: #f16126;
    color: #fff;
    border-radius: 50%;
  }

  @media (max-width: 1024px) {
    .course-container {
      padding: 50px 30px;
    }

    .course-header h1 {
      font-size: 36px;
    }

    .course-header h3 {
      padding-top: 50px;
    }

    .course-buy {
      height: 40px;
      padding: 10px;
      width: 40px;
    }

    .course-buy span {
      font-size: 12px;
    }

    .course-grid {
      gap: 15px;
    }

    .course-card {
      margin-bottom: 20px;
      border: 10px solid #fff;
    }

    .course-card-content {
      padding-top: 15px;
    }

    .course-title {
      font-size: 20px;
    }

    .course-details,
    .course-author,
    .course-review,
    .course-category,
    .course-video,
    .course-btn {
      font-size: 12px;
    }

    .course-top-bg-container {
      padding-top: 200px;
    }
  
    .course-top-bg-container h1 {
      font-size: 28px;
    }
    
    .filter-container {
      height: 80px;
      line-height: 80px;
    }
  
    .filter-container select {
      height: 40px;
      width: 150px;
      padding: 5px;
    }
  
    .filter-container span {
      font-size: 16px;
      margin-right: 10px;
    }
    
    .filter-icon{      
        font-size: 16px;
    }

    .result,
    .result1 {
      font-size: 14px;
    }
  
    .skills {
      background-color: transparent;
      color: #f16126;
      margin-left: 10px;
      font-size: 14px;
    }
    
    .course-pagination a {
      padding: 8px 12px;
      margin: 0 6px;
      height: 40px;
      width: 40px;
      font-size: 14px;
    }

  }

  @media (max-width: 768px) {
    .course-container {
      padding: 30px 20px;
    }

    .course-header h1 {
      font-size: 32px;
    }

    .course-buy {
      height: 30px;
      padding: 10px;
      width: 30px;
    }

    .course-grid {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 10px;
    }

    .course-card {
      margin-bottom: 15px;
    }

    .course-card-content {
      padding-top: 10px;
    }

    .course-title {
      font-size: 18px;
    }

    .course-details,
    .course-author,
    .course-review,
    .course-category,
    .course-video,
    .course-btn {
      font-size: 11px;
    }

    .course-rating {
      font-size: 11px;
    }

    .course-review {
      font-size: 11px;
    }

    .course-btn {
      font-size: 11px;
      width: 80px;
    }

    .course-top-bg-container {
      padding-top: 160px;
    }
  
    .course-top-bg-container h1 {
      font-size: 22px;
    }
    
    .filter-container {
      height: 60px;
      line-height: 60px;
    }
  
    .filter-container select {
      height: 30px;
      width: 90px;
      padding: 2px;
      font-size: 12px;
    }
  
    .filter-container span {
      font-size: 14px;
      margin-right: 5px;
    }
    
    .filter-icon{
      font-size: 14px;
    }

    .result,
    .result1 {
      font-size: 12px;
    }
  
    .skills {
      margin-left: 5px;
      font-size: 12px;
    }

    .course-pagination a {
      padding: 8px 10px;
      margin: 0 4px;
      height: 35px;
      width: 35px;
      font-size: 12px;
    }

  }

  @media (max-width: 480px) {
    .course-container {
      padding: 20px;
    }

    .course-header h1 {
      font-size: 28px;
    }

    .course-grid {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 5px;
    }

    .course-card {
      margin-bottom: 10px;
    }

    .course-card-content {
      padding-top: 5px;
    }

    .course-title {
      font-size: 16px;
    }

    .course-details,
    .course-author,
    .course-review,
    .course-category,
    .course-video,
    .course-btn {
      font-size: 10px;
    }    
  
    .course-top-bg-container h1 {
      font-size: 18px;
    }
    
    .filter-container {
      height: 40px;
      line-height: 40px;
    }
  
    .filter-container select {
      height: 20px;
      width: 55px;
      padding: 0px;
      font-size: 9px;
    }
  
    .filter-container span {
      font-size: 12px;
    }
    
    .filter-icon{
      font-size: 12px;
    }

    .result,
    .result1 {
      font-size: 10px;
    }
  
    .skills {
      font-size: 10px;
    }

    .course-pagination a {
      padding: 7px 9px;
      margin: 0 3px;
      height: 30px;
      width: 30px;
      font-size: 10px;
    }

  }