.footer-container {
    padding: 50px;
    background-color: #212529;
    color: #fff;
}

.subscribe-header h1 {
    font-weight: bold;
    font-size: 26px;
}

.subscribe-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0;
}

.subscribe-btn {
    position: relative;
}

.subscribe-btn button {
    background-color: #26c976;
    height: 45px;
    padding: 5px 20px;
    position: absolute;
    top: 7.5px;
    right: 7.5px;
    bottom: 0;
}

.subscribe-btn input {
    height: 60px;
    width: 600px;
    padding-left: 50px;
}

.subscribe-icon {
    color: #26c976;
    position: absolute;
    z-index: 1;
    font-size: 20px;
    margin: 20px 10px;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    border-top: 0.5px solid #e4e1e1;
    padding: 50px 0;
}

.footer-content {
    padding: 20px;
    text-align: left;
}

.footer-content h2 {
    position: relative;
    font-size: 20px;
    font-weight: bold;
}

.footer-content h2::after {
    content: "";
    display: block;
    width: 20%;
    height: 2px;
    background-color: #26c976;
    margin-top: 5px;
}

.footer-content p {
    padding: 10px 0;
}

.footer-bottom {
    background-color: #fff;
    text-align: center;
    padding: 50px;
}

.footer-bottom-span1 {
    color: #727171;
}

.footer-bottom-span2 {
    font-weight: bold;
}


@media (max-width: 1024px) {
    .subscribe-box {
        flex-direction: column;
    }

    .subscribe-header h1 {
        margin-bottom: 20px;
        font-size: 32px;
    }

    .footer-top {
        padding: 40px 0;
    }

    .footer-bottom {
        padding: 40px;
    }
}



@media (max-width: 768px) {
    .footer-top {
        padding: 30px 0;
    }

    .footer-bottom {
        padding: 30px;
    }

    .subscribe-header h1 {
       font-size: 24px;
    }

    .subscribe-btn {
        width: 100%;
    }

    .subscribe-btn button {
        background-color: #26c976;
        height: 40px;
        padding: 5px 10px;
        position: absolute;
        top: 5px;
        right: 5px;
        bottom: 0;
        font-size: 14px;
    }

    .subscribe-btn input {
        height: 50px;
        width: 100%;
        padding-left: 40px;
        font-size: 14px;
    }

    .subscribe-icon {
        font-size: 16px;
        margin: 18px 10px;
    }
}



@media (max-width: 480px) {
    .footer-top {
        padding: 20px 0;
    }

    .subscribe-header h1 {
        font-size: 18px;
     }

    .footer-bottom {
        padding: 20px;
    }

    .subscribe-btn button {
        height: 35px;
        font-size: 12px;
    }

    .subscribe-btn input {
        height: 45px;
        padding-left: 30px;
        font-size: 12px;
    }

    .subscribe-icon {
        font-size: 14px;
        margin: 17px 10px;
    }
}
